/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s; }

html, body {
  height: 100%;
  width: 100%;
  font-family: "proxima-nova", sans-serif; }

a, a:visited {
  text-decoration: none;
  color: #fff; }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #e6e6e6; }

/**
 * Site header
 */
.container {
  height: auto;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

.main-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #222; }
  .main-header a.main-header__title {
    width: 100%;
    min-height: 5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-family: "fatfrank", sans-serif;
    font-size: 2rem;
    padding: 1rem; }
    @media (min-width: 1000px) {
      .main-header a.main-header__title {
        background-color: #fff;
        color: #222 !important; } }

.main-header__nav-bar {
  z-index: 5;
  position: relative;
  width: 100%;
  min-height: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 600px) {
    .main-header__nav-bar {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .main-header__nav-bar .toggle__container {
        display: none; } }

.main-content {
  min-height: 800px; }

.main-footer {
  min-height: 100px;
  background-color: #222; }

.post:nth-child(1) > .post__image {
  background-color: rgba(102, 217, 239, 0.8); }

.post:nth-child(2) > .post__image {
  background-color: rgba(174, 129, 255, 0.8); }

.post:nth-child(3) > .post__image {
  background-color: rgba(249, 42, 114, 0.8); }

.post:nth-child(4) > .post__image {
  background-color: rgba(166, 226, 46, 0.8); }

.post:nth-child(5) > .post__image {
  background-color: rgba(253, 151, 31, 0.8); }

.post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 400px;
  background-color: #fff;
  margin-bottom: 1em; }
  .post__image {
    width: 100%;
    padding: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: auto; }
    .post__image img {
      width: 100%;
      max-width: 600px;
      max-height: 400px; }
  .post__meta {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 1rem; }
    .post__meta--left {
      -webkit-box-flex: 11;
      -webkit-flex: 11;
          -ms-flex: 11;
              flex: 11;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .post__meta--right {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      height: auto;
      background-color: #323232;
      color: #fff;
      padding: 0.5em 1em;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      max-width: 100px; }
  .post__title {
    width: 100%;
    font-size: 2rem;
    font-family: "ff-tisa-sans-web-pro", sans-serif; }
  .post__date--day {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0.16667em; }
  .post__date--month {
    text-transform: uppercase;
    color: #b3b3b3;
    font-size: .75rem;
    letter-spacing: 1px; }
  .post__content {
    padding: 1rem;
    font-family: "ff-tisa-sans-web-pro", sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 1.6rem;
    font-size: 18px; }
  .post__button {
    width: auto;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: .8rem;
    min-width: 100px;
    max-width: 150px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 2em;
    padding: 0.5em 1em;
    background-color: #323232;
    color: #fff; }

.social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  min-height: 2em; }
  .social-list .social-list__icon {
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .social-list .social-list__icon--twitter:hover svg {
      background-color: #55acee;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .social-list .social-list__icon--twitter:hover path {
      fill: #fff; }
    .social-list .social-list__icon--github:hover svg {
      background-color: #333333;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .social-list .social-list__icon--github:hover path {
      fill: #fff; }
    .social-list .social-list__icon--facebook:hover svg {
      background-color: #3b5998;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .social-list .social-list__icon--facebook:hover path {
      fill: #fff; }
    .social-list .social-list__icon--linkedin:hover svg {
      background-color: #0077b5;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .social-list .social-list__icon--linkedin:hover path {
      fill: #fff; }
    .social-list .social-list__icon--spotify:hover svg {
      background-color: #2ebd59;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .social-list .social-list__icon--spotify:hover path {
      fill: #fff; }
    .social-list .social-list__icon:not(:first-child) {
      margin-left: 0.5em; }
    .social-list .social-list__icon > a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .social-list .social-list__icon svg {
      height: 25px;
      width: 25px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      fill: #fff; }
      .social-list .social-list__icon svg:hover {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1); }

.toggle {
  position: relative;
  display: block;
  min-height: 35px;
  min-width: 35px; }
  @media (min-width: 600px) {
    .toggle {
      visibility: hidden;
      opacity: 0; } }

.toggle span,
.toggle span:before,
.toggle span:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 15px;
  cursor: pointer;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  height: 3px;
  width: 25px;
  background-color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.toggle span:before {
  top: -8px; }

.toggle span:after {
  top: 8px; }

.toggle.active span {
  background-color: transparent; }

.toggle.active span:before,
.toggle.active span:after {
  top: 0; }

.toggle.active span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.toggle.active span:after {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg); }

.toggle__container {
  height: 35px;
  width: 35px;
  position: relative;
  z-index: 10; }

.toggle__content {
  position: absolute;
  right: -1em;
  text-align: right;
  background-color: #222;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
  z-index: 1; }
  .toggle__content li {
    padding: 1em;
    cursor: pointer;
    min-width: 200px; }
    .toggle__content li:hover {
      background-color: #3c3c3c; }

.toggle__content.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

.tag__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .tag__list .tag {
    font-family: "proxima-nova", sans-serif;
    display: block;
    font-size: .75rem;
    padding: .25rem 0;
    text-transform: uppercase;
    color: #222;
    margin-right: 1em; }
    .tag__list .tag--css {
      border-bottom: 2px solid #52bab3; }
      .tag__list .tag--css:hover {
        color: #52bab3; }
    .tag__list .tag--music {
      border-bottom: 2px solid #5ece7f; }
      .tag__list .tag--music:hover {
        color: #5ece7f; }
    .tag__list .tag--html {
      border-bottom: 2px solid #e67478; }
      .tag__list .tag--html:hover {
        color: #e67478; }
    .tag__list .tag--animation {
      border-bottom: 2px solid #ff784f; }
      .tag__list .tag--animation:hover {
        color: #ff784f; }

.page__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 1rem 0; }

/*# sourceMappingURL=main.css.map */
