<header class="main-header" id="main-header">
    <a href="{{ site.baseurl }}/" class="main-header__title" id="site-title"><h2>{{ site.title }}</h2></a>
    
    <div class="main-header__nav-bar" id="nav-bar">
      {% include social-icons.html %}
      <div class="toggle__container">
        <a class="toggle" id="nav-toggle"><span></span></a>
        <ul class="toggle__content" id="nav-content">
          <li>Home</li>
          <li>Contact</li>
          <li>About</li>
        </ul>
      </div>
      
    </div>
    
</header>
