<ul class="social-list">
  <li class="social-list__icon"><a href="https://twitter.com/TJ_egan" class="social-list__icon--twitter">{% include icon-twitter.svg %}</a></li>
  <li class="social-list__icon">
    <a href="https://github.com/tw15egan" class="social-list__icon--github">{% include icon-github.svg %}</a>
  </li>
  <li class="social-list__icon">
    <a href="https://www.facebook.com/tj.egan1" class="social-list__icon--facebook">{% include icon-facebook.svg %}</a>
  </li>
  <li class="social-list__icon">
    <a href="https://www.linkedin.com/in/twegan" class="social-list__icon--linkedin">{% include icon-linkedin.svg %}</a>
  </li>
  <li class="social-list__icon">
    <a href="https://play.spotify.com/user/tj_egan" class="social-list__icon--spotify">{% include icon-spotify.svg %}</a>
  </li>
</ul>