.main-header--active {
  z-index: 1000;
  transform: translateY(-80px);
  transition-delay: .3s;
}

.social-list--active {
  opacity: 0;
  visibility: hidden;
  // transform: translate(-1000px);
}

.main-header__title--scroll {
  transform: translateY(72px);
}

.sticky-nav {
  // top: -60px !important;
  // transform: translateY(-58px);
}

.toggle__content--active {
  // top: 0;
  transform: translateY(0);
}