.main-header--active {
  z-index: 1000;
  height: 80px;
}

.social-list--active {
  opacity: 0;
  visibility: hidden;
  transform: translate(-100px);
}

.sticky-nav {
  top: -60px !important;
}

.toggle__content--active {
  top: 0;
}