/**
 * Site header
 */
.container {
  height: auto;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.main-header {
  @include flex(space-between, flex-start);
  flex-direction: column;
  height: 147px;
  width: 100%;
  background-color: $black;
  position: fixed;
  top: 0;
  
  @media (min-width: 600px) {
    position: relative;
  }
  
  a {
    width: 100%;
  }

  &__title {
    width: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: $font-family-header;
    font-size: 2rem;
    padding: $container-padding;
    color: $white;
    
    @media (min-width: 1000px) {
      background-color: $white;
      color: $black;
    }
  }
}

.main-header__nav-bar {
  z-index: 5;
  position: relative;
  width: 100%;
  min-height: 35px;
  display: flex;
  justify-content: space-between;
  padding: $container-padding;
  align-items: center;
  
  @media (min-width: 600px) {
    justify-content: flex-end;

    .toggle__container {
      display: none;
    }
    
  }
}

.main-content {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 147px;
  
  @media (min-width: 800px) {
    flex-direction: row;
  }
  
  @media (min-width: 600px) {
    margin-top: 0;
  }

}

.main-footer {
  min-height: 100px;
  background-color: $black;
}