.main-header {  
  @media (min-width: 800px) {
    position: relative;
  }


  &__title {    
    @media (min-width: 1000px) {
      background-color: $white;
      color: $black;
    }
  }
}

.main-header__nav-bar {

  @media (min-width: 800px) {
    justify-content: flex-end;

    .toggle__container {
      display: none;
    }
  }
}

.main-content {
  
  @media (min-width: 800px) {
    flex-direction: row;
    margin-top: 0;
  }
}
