.toggle {
  position: relative;
  display: block;
  min-height: 35px;
  min-width: 35px;
  top: 0;
  cursor: pointer;
  
  @media (min-width: 800px) {
    visibility: hidden;
    opacity: 0;
  }
}

.toggle span,
.toggle span:before,
.toggle span:after {
  display: block;
  content: '';
  position: absolute;
  left: 0; 
  right: 0;
  margin: 0 auto;
  top: 15px;
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  z-index: 1000;
  background-color: $white;
  transition: all .3s ease-in-out;
}

.toggle span:before {
  top: -8px;
}

.toggle span:after {
  top: 8px;
}

.toggle.active span {
  background-color: transparent;
}

.toggle.active span:before,
.toggle.active span:after {
  top: 0;
}

.toggle.active span:before {
  transform: rotate(45deg);
}

.toggle.active span:after {
  transform: rotate(-225deg);
}


.toggle {
  &__container {
    height: 35px;
    width: 35px;
    position: relative;
  }
  
  &__content {
    position: absolute;
    text-align: right;
    background-color: $black;
    color: $white;
    visibility: hidden;
    opacity: 0;
    top: -50px;
    transform: scale(1) translateY(-10px);
    transform-origin: top center;
    right: -$padding;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: -100;
    
    li {
      width: 100vw;
      user-select: none;
      font-size: 1.5rem;
      font-weight: 300;
      font-family: $font-family-primary;
      padding: $padding;
      cursor: pointer;
      min-width: 200px;
      position: relative;
      
      &:hover {
        background-color: $red;
      }
    }
  }
}

.toggle__content.active {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.toggle__content--scroll {
  top: 0;
}

.toggle__content--mobile {
  top: 50px;
}
