@function post-background($color) {
  @return map-get($backgrounds, $color);
}

@function button-borders($color) {
  @return map-get($backgrounds, $color);
}

@for $i from 1 through 5 {
  .post:nth-child( #{$i} )  > .post__image {
    background-color: rgba(post-background( #{$i} ), .8);
  }
  
  .post:nth-child( #{$i} ) .button__wrapper {
    border-bottom: 2px solid button-borders(#{$i});
    
    svg {
      fill: button-borders(#{$i});
    }
    
    &:hover {
      border-bottom: 2px solid transparent;
    }
  }
}



@for $i from 1 through 5 {
  .post:nth-child( #{$i} )  > .post__image {
    background-color: rgba(post-background( #{$i} ), .8);
  }
}

.post {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  width: 100%;
  background-color: $white;
  margin-bottom: $margin;

  &__image {
    width: 100%;
    padding: $container-padding * 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;


    img {
      width: 100%;
      max-width: 600px;
    }
  }
  
  @media (min-width: 1000px) {
    flex-direction: row;
  }

  &__meta {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: $container-padding;

    &--left {
      flex: 11;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &--right {
      margin-right: $margin;
      color: $black-light;
      border-right: 1px solid $gray;
      padding-right: $padding;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 100px;
      max-height: 60px;
    }
  }

  &__title {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    min-height: 1.5;
    padding-right: $padding-small;
  }

  &__date {
    &--day {
      font-family: $font-family-secondary;
      font-size: 2rem;
      font-weight: 300;
    }

    &--month {
      text-transform: uppercase;
      color: $gray-dark;
      font-size: .75rem;
      letter-spacing: 1px;
    }
  }

  &__content {
    padding: $container-padding;
    font-size: $base-font-size;
  }

  &__button {
    border: 0;
    font-size: 1rem;
    float: right;
    cursor: pointer;
    margin-top: $margin * 2;
    color: $black-light;
    background-color: $white;
    border-bottom: 2px solid $black-light;

    &:hover {
      background-color: $black-light;
      color: $white;
    }
  }
}

.button__wrapper {
  float: right;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 100px;
  align-items: center;
  justify-content: center;
  color: $black;
  font-weight: 600;
  margin: $margin; 
  padding-bottom: $padding-small;
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    height: 28px;
    width: 30px;
    opacity: 0;
    
  }

  &:hover {
    .button__text {
      opacity: 0;
      transform: scale(.1);
    }
    svg {
      opacity: 1;
      transform: translateX(33px) scale(1.6);
    }
    
  }
}

