@function post-background($color) {
  @return map-get($backgrounds, $color);
}

@for $i from 1 through 5 {
  .post:nth-child( #{$i} )  > .post__image {
    background-color: rgba(post-background( #{$i} ), .8);
  }
}

.post {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  width: 100%;
  background-color: $white;
  margin-bottom: $margin;

  &__image {
    width: 100%;
    padding: $container-padding * 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;


    img {
      width: 100%;
      max-width: 600px;
    }
  }
  
  @media (min-width: 1000px) {
    flex-direction: row;
  }

  &__meta {
    width: 100%;
    height: auto;
    display: flex;
    flex: 1;
    padding: $container-padding;

    &--left {
      flex: 11;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &--right {
      flex: 1;
      height: auto;
      background-color: $black-light;
      color: $white;
      padding: $padding-small $padding;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 100px;
    }
  }

  &__title {
    width: 100%;
    font-size: 2rem;
    font-family: $base-font-family;
  }

  &__date {
    
    &--day {
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: $margin-small / 3;
    }

    &--month {
      text-transform: uppercase;
      color: $gray-dark;
      font-size: .75rem;
      letter-spacing: 1px;
    }
  }

  &__content {
    padding: $container-padding;
    font-family: $base-font-family;
    display: flex;
    flex-direction: column;
    line-height: 1.6rem;
    font-size: $base-font-size;
  }

  &__button {
    width: auto;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    min-width: 100px;
    max-width: 150px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: $margin * 2;
    padding: $padding-small $padding;
    background-color: $black-light;
    color: $white;
  }
}

