.social-list {
  @include flex(flex-start, center);
  height: auto;
  min-height: 2em;

  .social-list__icon {
    @include social-colors-hover($social-colors);

    border-radius: 50%;

    &:not(:first-child) {
      margin-left: $margin-small;
    }

    & > a {
      display: flex;
      align-items: center;
    }

    svg {
      height: 22px;
      width: 22px;
      border-radius: 50%;
      fill: $white;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
// 
// .github__icon {
//   &--circle {
//     
//   }
//   
//   &--image {
//     fill: $black;
//   }
// }