.tag__list {
  display: flex;
  opacity: 1;

  .tag {
    @include tag-colors($ui-colors);

    font-family: $font-family-primary;
    font-weight: 200;
    display: block;
    font-size: .75rem;
    padding: .5rem 0 .25rem;
    text-transform: uppercase;
    color: $black;
    margin-right: $margin;
  }
}
