<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="loader"></div>
    <div class="container">
    {% include header.html %}
    
        {{ content }}
        
    {% include footer.html %}
    </div>
  <script type="text/javascript">
    function downloadJSAtOnload() {
      var l = document.createElement('link'); l.rel = 'stylesheet';
      l.href = 'css/main.css';
      var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);

      var element = document.createElement("script");
      element.src = "{{site.baseurl}}/js/app.min.js";
      document.body.appendChild(element);
      }
      
      if (window.addEventListener)
        window.addEventListener("load", downloadJSAtOnload, false);
      else if (window.attachEvent)
        window.attachEvent("onload", downloadJSAtOnload);
      else window.onload = downloadJSAtOnload;

    </script>
  </body>

</html>
